process {
    executor = 'k8s'
}

k8s {
    namespace = 'braingeneers'
    computeResourceType = 'Job'
}

aws {
    endpoint = 's3-west.nrp-nautilus.io'
    pathStyleAccess = true
}

wave {
    enabled = true
}

fusion {
    enabled = true
    exportAwsAccessKeys = true
}

workDir = 's3://braingeneersdev/nextflow/'


//todo specify a non standard location for aws credentials and kube config file to make using secret-fetcher easier
