# Kubernetes secret file: service-accounts/service-accounts.env
#
# Existing Auth0 service-account token flow.
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_DOMAIN=dev-jkxyxuthob0qc1nw.us.auth0.com
AUTH0_API_AUDIENCE=https://auth.braingeneers.gi.ucsc.edu/
DEFAULT_EXPIRATION_DAYS=120
