# Kubernetes secret file: oauth2-broker/oauth2-broker-db.env
#
# Do not commit real values. Populate these in the Kubernetes secret consumed by
# secret-fetcher.

POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=replace-with-strong-db-password

